@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* nav-bar */

header {
    box-shadow: 0px 0.5px whitesmoke;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #6f5cbb;
    z-index: 10;
}

.header-section {
    color: #f0ecff;
    font-family: "Boldonse", system-ui;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.header-section-navbar {
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    display: flex;
    position: fixed;
    right: 30px;
    gap: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;

}

a:active {
    color: aliceblue;
}

/* main-section */

.main-section-page1 {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(#6f5dba, aliceblue); */

    height: 100vh;
    /* background-color: rgb(205, 231, 254); */
}

.main-section-content-page1 {
    padding: 200px 100px;
}

.main-section-page1-content1>p {
    font-size: 6rem;
    margin: 0;
}

.main-section-page1-content1>h2 {
    color: white;
    /* color: #f28287; */
    text-shadow: 2px 2px black;
    font-size: 5rem;
    margin: 0;
}

.main-section-content2 {
    font-size: 1.5rem;
}

.main-section-content-page2 {

    background-color: aliceblue;
    height: 100vh;
    padding-top: 150px;
    display: flex;
}

.main-section-content-page2-left {
    padding-left: 80px;
}

.main-section-content-page2-left>span {
    font-family: "Rubik", sans-serif;
    color: #6f5cbb;
    background-color: #f0ecff;
    border-radius: 20px;
    padding: 10px;
    position: static;
    left: 5%;
}

.main-section-content-page2-left>p {
    padding: 10px;
    width: 50%;
    text-indent: 50px;
    text-align: justify;
    line-height: 2;
}

.main-section-content-page2-left>a>button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #f0ecff;
    background-color: #6f5cbb;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.main-section-content-page2-right>img {
    width: 400px;
    border-radius: 30px;
    position: absolute;
    right: 10%;
}


/* Page 3 */

.main-section-content-page3 {
    height: 100vh;
    background-image: linear-gradient(aliceblue, #6f5dba);

    /* background-color: #6f5cbb; */
    padding: 10px;
    padding-top: 8%;
    text-align: center;
    font-weight: 500;
}

.main-section-content-page3>span {
    font-family: "Rubik", sans-serif;
    color: #f0ecff;
    background-color: #6f5cbb;
    border-radius: 20px;
    padding: 15px 50px;
    position: static;
    left: 5%;
}

.container {
    padding-top: 50px;
    display: grid;
    grid-template-areas:
        'web-line-container Graphic-line-container Documentation-line-container'
        's1-line-container s2-line-container s3-line-container';
    gap: 50px;
    padding: 50px;
}

.container>div {
    background-color: white;
    opacity: 50%;
    padding: 15px;
    border-radius: 10px;

}

.web-line-container {
    grid-area: web-line-container;
}

.Graphic-line-container {
    grid-area: Graphic-line-container;
}

.Documentation-line-container {
    grid-area: Documentation-line-container;
}

.s1-line-container {
    grid-area: s1-line-container;
}

.s2-line-container {
    grid-area: s2-line-container;
}

.s3-line-container {
    grid-area: s3-line-container;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.web-line {
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, red 80%, blue 20%);
}

.Graphic-line {
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, red 90%, blue 10%);
}

.Documentation-line {
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, red 95%, blue 5%);
}

.Frame_work{
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, red 60%, blue 40%);
}

.Designing-line{
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, red 80%, blue 20%);
}

/* main-section-content-page4 */


.main-section-content-page4 {
    height: 100vh;
    background-image: linear-gradient(#6f5dba , aliceblue);
    padding: 10px;
    padding-top: 100px;
}

.main-section-content-page4-SKILL{
    margin-top: 2%;
    text-align: center;
    padding: 20px;
}

.main-section-content-page4-SKILL > span {
    font-family: "Rubik", sans-serif;
    color:  #6f5cbb;
    background-color: #f0ecff;
    border-radius: 20px;
    padding: 15px 50px;
    font-weight: 600;
}

.main-section-content-page4-container > label{
    text-align: left;
}

.div-sam{
    text-align: center;
}

.main-section-content-page4-container{

    margin-top: 20px;
    line-height: 25px;    
}

.main-section-content-page4-container > input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

/* main-section-bottom */

.main-section-bottom {
    position: fixed;
    top: 90%;
    left: 90%;
}

.main-section-bottom>a {
    text-decoration: none;
}

.main-section-bottom>a>img {
    padding: 3px;
    width: 30px;
}